extends layout 
 
block content 
  h1(class = 'container-fluid p-5 bg-success text-warning text-center')= title 
 
  if (toShow == null)
    h2 No instance to Detail View 
  else 
    - let objectId = toShow._id
    - let pet_type = toShow.pet_type
    - let cost = toShow.cost 
    - let breed = toShow.breed 
    div(class='justify-content-center p-2 text-center text-dark',style='background-color:#ccffff')
      div.row 
        div(class='p-2 flex-fill petAttr mr-3') Object Id : #{objectId}         
      div.row 
        div(class='p-2 flex-fill petAttr mr-3') pet_type  : #{pet_type}
      div.row 
        div(class='p-2 flex-fill petAttr mr-3') cost  :  #{cost} 
      div.row 
        div(class='p-2 flex-fill petAttr mr-3') breed   : #{breed} 